
  .body {
display: flex;   
 text-align: center;
        min-height: 40vh;
    flex-direction: column;
  }
  .body .main {
    display: flex;
    flex: 1;
  }
  /*.body .content {
    background: #eee;
    flex: 1;*/
  }
  .body.main .aside, {
    background:lightgreen;
    flex:1;
  background:salmon;
  }
  .body .main.article {
  	background:yellow;
  	 flex:3;}
  .body header,.body footer{
    background:#999;
    height: 50px;
    line-height: 50px;
  }
  .body .aside {
    background:salmon;
  }
  